html, body {
  background-color: #a8aaaf;
}

.App {
  background-color: #a8aaaf;
}

.menuClick {
 cursor: pointer;
}

.App-section {
  background-color: #a8aaaf;
  margin-left: 20vw;  
  margin-right: 20vw;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(48, 45, 45);
}

.App-link {
  color: #61dafb;
}

pre.preDebug {
  margin: 2px;
  border: 1px solid yellow;
  color: yellow;
  background-color: black;
  padding: 2px;
}
