
.Choice-button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
    cursor: pointer;
}

.Choice-button-selected {
    color: white;
    background-color: black;
    font-weight: bold;
}

.Choice-button-not-selected {
    color: black;
    background-color: white;
}
